@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 225, 227, 230;
    --background-end-rgb: 225, 227, 230;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.expendiList * {
  transition: all 0.25s linear;
}
.expendiList {
  scrollbar-gutter: stable;
}
.expendiList::-webkit-scrollbar {
  width: 5px;
}
.expendiList::-webkit-scrollbar-track {
  background-color: transparent;
}
.expendiList::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  border-radius: 30px;
}
.listCard {
  position: relative;
}
.reason {
  opacity: 0;
  margin-top: -7px;
  height: 0px !important;
  overflow: hidden;
}
.listCard:hover .reason {
  margin-top: 10px;
  opacity: 1;
  height: 100% !important;
}
